<h1>New Game</h1>

<ul class="letters d-flex m-5">
  <% @letters.each do |letter| %>
    <li class="letter mx-2 p-3">
      <%= letter %>
    </li>
  <% end %>
</ul>

<form action="/score" method="post" data-turbo="false">
  <input type="Write the longest word you think" name="word">
  <input type="Submit" value="Play!" class="btn btn-primary">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
